.resultArea {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resultContainer {
    background-color: var(--lightest-grey);
}

.resultHeader {
    background-color: var(--light-grey);
}

.headerTitle {
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-weight: 400;

    color: var(--black);

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.resultOnionTop {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    padding-left: 1rem;
    padding-right: 1rem;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.resultImage {
    width: auto;
    height: 15vh;
}

@media (max-width: 700px) {
    img.resultImage {
      width: auto;
      height: 15vh;
    }

    img.compatImage {
        width: auto;
        height: 10vh;
    }
  }

.resultName {
    max-width: min-content;
    padding: 0.5rem;
    font-size: 2rem;
}

.description {
    text-align: left;
    font-size: 0.9rem;

    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;

    white-space: pre-line;
}

.pairTitle {
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-weight: 400;

    color: var(--black);

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: var(--light-grey);

    text-align: center;
}

.compatOnion {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    padding-left: 1rem;
    padding-right: 1rem;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.compatImage {
    width: auto;
    height: 12vh;

    padding: 0.5rem;
}

.compatName {
    max-width: min-content;
    padding: 0.5rem;

    font-family: "Pixelify Sans";
    color: var(--bright-green);
    font-weight: 400;
    font-size: 1.75rem;
}

.attribution {
    font-family: "Roboto Mono";
    font-size: 0.65rem;
    color: #ECF8FE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: calc(100vw * 0.01);
    padding-bottom: calc(100vw * 0.01);

    background-color: var(--light-grey);;
}

.attribution a {
    text-decoration: none;
    color: var(--black);
}

.quizAgain {
    font-family: "Roboto Mono";
    width: fit-content;
  
    margin-top: 1rem;
    margin-bottom: 1rem;
  
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 3rem;
  
    background-color: var(--bright-green);
    color: white;
    border: 0.5rem solid var(--light-green);
  
    cursor: pointer;
}

.retakeBtn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}