/* Font imports */
.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Color palatte*/
:root {
  --bright-green: #4EAB10;
  --light-green: #B4E395;
  --grey: #DEDEDE;
  --light-grey: #EDEDED;
  --black: #001219;
}

/* Layout */
.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.center-vertical {
  width: 90vw;
  height: calc(900vw * (19.5 / 9));
  max-height: 90vh;
  max-width: calc(90vh * (9 / 19.5));

  padding-left: calc(100vw * 0.05);
  padding-right: calc(100vw * 0.05);
  padding-top: calc(100vh * 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: auto;
}

/*Text customizations*/
h1.welcome-sign {
  font-family: "Roboto Mono";
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  color: var(--black);
}

h1 {
  font-family: "Pixelify Sans";
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--bright-green);
}

p {
  font-family: "Roboto Mono";
  font-size: 1rem;
  text-align: center;
  color: var(--black);
}

/* Button styling */
button {
  font-family: "Pixelify Sans";

  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 3rem;

  background-color: #4EAB10;
  color: white;
  border: 0.5rem solid var(--light-green);
  rotate: -3deg;
  box-shadow: none;
}